{% extends 'base.html.twig' %}

{% block title %}Formulaire!{% endblock %}

{% block body %}
<div class="container border">
{{ form_start(form, {
  attr: {
    novalidate: 'novalidate'
  }
}) }}

{{ form_row(form.marque, {
  label: "Marque",
  attr: {
    placeholder: "Nom de la marque"
  }
}) }}

{{ form_row(form.modele, {
  label: "Modèle",
  attr: {
    placeholder: "Nom du modèle"
  }
}) }}

{{ form_row(form.prix, {
  label: "Prix",
  attr: {
    placeholder: "Prix de la voiture"
  }
}) }}

{{ form_row(form.description, {
  label: "Description",
  attr: {
    placeholder: "Description du modèle de voiture"
  }
}) }}
{{ form_row(form.typevoiture, {
  label: "Type"
}) }}


<div class="text-center">
  <button type="submit" class="btn btn-primary mt-2 mb-2">
    {% if editMode %}
      Enregistrer les modifications
    {% else %}
      Ajouter la voiture
    {% endif %}
  </button>
</div>
{{ form_end(form) }}

</div>
{% endblock %}