{% extends 'base.html.twig' %}

{% block title %}Formulaire!{% endblock %}

{% block body %}
  <h1>
    {% if editMode %}
      Modification de l'article
    {% else %}
      Création de l'article
    {% endif %}
  </h1>

{# {{ form(formArticle) }} #}
{# form() permet d'afficher un formulaire #}
<div class="container border">
{# form_start() et form_end() permettent de délimiter un formulaire, de modifier ses champs, modifier la méthode ...  #}
{{ form_start(formArticle, {
  attr: {
    novalidate: 'novalidate'
  }
}) }}

{# form_widget() permet de gérer l'affichage d'un champ #}
{# form_row() permet de gérer l'afichage d'un champ et de son label #}
{{ form_row(formArticle.title) }}

{{ form_row(formArticle.content, {
  label: "Contenu",
  attr: {
    placeholder: "Contenu de l'article"
  }
}) }}

{{ form_row(formArticle.image) }}
{{ form_row(formArticle.category, {
  label: "Catégorie",}) }}
  
<div class="text-center">
  <button type="submit" class="btn btn-primary mt-2 mb-2">
    {% if editMode %}
      Enregistrer les modifications
    {% else %}
      Ajouter l'article
    {% endif %}
  </button>
</div>
{{ form_end(formArticle) }}

</div>
{% endblock %}