{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

<section class="row article">
    <article class="col-md-6 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
        <h2>{{ item.title }}</h2>
        <div class="metadata">
          Ecrit le {{ item.createdAt |date('d/m/Y à H:i:s') }} dans la catégorie: {{ item.category.title }}
        </div>
        <div class="content">
            <img class="img-fluid" src="{{ item.image }}" alt="">
            {{ item.content|raw }}

        </div>
    </article>
</section>
<h2 class="text-center mx-auto m-3">Commentaires</h2>

{% if app.user %}
    {{ form_start(formComment) }}
        {{ form_widget(formComment.content, {
            attr: {
                placeholder: "Poster un commentaire"
            }
        }) }}

    <button type="submit" class="btn btn-info col-12">Envoyer</button>

    {{ form_end(formComment) }}

{% else %}
    
    <a href="{{ path('app_login') }}">Cliquez ici</a> pour vous connecter et envoyer un commentaire.

{% endif %}

<section id="commentaire" class="col-md-10 mx-auto">
    {% for comment in item.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-md-3 text-center">
                    {{ comment.author.firstname }}
                    {{ comment.author.lastname }}
                    <br>
                    <small>{{ comment.createdAt|date('d/m/Y à H:i:s') }}</small>
                </div>
                <div class="col-md-9 text-center">
                    {{ comment.content|raw }}
                </div>
                <hr>
            </div>
        </div>        
    {% endfor %}
</section>

{% endblock %}
